.$TralivaKit__90412DialogFrame{
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.5);
}
.$TralivaKit__90412DialogFrame_cross{
    position:fixed;
    width:32px;
    height:32px;
    background: url("#RES#/cross_32.png");
    cursor: pointer;
}
