.$TralivaKit__90420CallbackForm_bigTimeValidNote{
}
.$TralivaKit__90420CallbackForm_bigTimeValidNote p{
    font-size: 12px;
    color: #666;
}
.$TralivaKit__90420CallbackForm_smallTimeValidNote{
}
.$TralivaKit__90420CallbackForm_smallTimeValidNote p{
    font-size: 6px;;
    color: #666;
}
.$90420CallbackForm_ok{
    border: 1px solid #048;
    color: #048;
    margin: 20px;
    padding: 10px;
    border-radius: 32px;
}
.$90420CallbackForm_fail{
    border: 1px solid #f00;
    color: #f00;
    margin: 20px;
    padding: 10px;
    border-radius: 32px;
}
