/*.$traliva_kit__contacts{
}*/
.$traliva_kit__contacts{
    /*background: #040;*/
    height:100%;
    /*overflow: auto;*/
    display:inline-block;
    /*margin: auto;*/
}
.$traliva_kit__contacts__tab{
    position:absolute;
    top:0;
    left:0;
    border:2px solid #000;
    border-radius:32px;
    padding:16px;
    background: #ffe;
}
.$card{
    /*width: 512px;*/
    height: 160px;
    /*background: #fff;*/
    position:relative;
    /*display:inline-block;*/
    display:none;
    margin:10px;
}
.$card_inner{
    width: 448px;
    height:260px;
    border: 2px solid #000;
    border-radius: 32px;
    position:absolute;
    left:16px;top: 16px;
    padding-left:64px;
    background:#ffe
}
.$card_icon{
    width: 64px;
    height:64px;
    /*border: 2px solid #000;*/
    border-radius: 32px;
    position:absolute;
    z-index:1;
}
.$card_icon_mobile{
    width: 64px;
    height:64px;
    /*border: 2px solid #000;*/
    border-radius: 32px;
    display: none; /*inline-block;*/
    position:relative;
    z-index:1;
}
.$bn{
    /*padding: 20px;*/
    /*height: 64px;*/
    padding: 8px;
    border: 2px solid #420;
    border-radius: 20px;
    background: #fff;
    text-align: center;
    cursor: pointer;
}
/*td > div:hover{*/
.$bn:hover{
    background: #aaa;
}
